<ion-view view-title="Chi siamo">
  <ion-content>

		<div class="padding textabout">
			<div class="card">
			  <!-- <div class="item item-divider item-text-wrap"></div> -->
			  <div class="item item-text-wrap">
				<p>Siamo donne e uomini della chiesa di Padova; operiamo in realtà giovanili e di volontariato frequentate da molti universitari e non solo; crediamo che la solidarietà non si impari sui libri ma lasciandosi interpellare dalla presenza degli altri. Siamo coordinati dall'ufficio di pastorale universitaria di Padova.</p><br>
				<p>I nostri nomi sono:
				<ion-list>
					<ion-item>sr. Paola Bazzotti</ion-item>
					<ion-item>sr. Zita Morandi</ion-item>		
					<ion-item>fr. Alberto Parise</ion-item>		
					<ion-item>don Roberto Ravazzolo</ion-item>
					<ion-item>sr. Anna Rossi</ion-item>
					<ion-item>p. Alberto Zanetti</ion-item>																	
				</ion-list>

				
			  </div>
			</div>
		</div>

  </ion-content>
</ion-view>
