<ion-view view-title="Lesson 01">
  <ion-content padding="true" overflow-scroll="true">

	<div class="bar bar-header bar-positive">
	  <h1 class="title">Assignments for lesson 01</h1>
	</div>

<br><br>

<ul class="list">
	<li class="item mylistcard item-text-wrap">1. Select an African Country and make a summary of the most important achivements it its socio-economic development (upto 700 words) </li>
   	<li class="item mylistcard item-text-wrap">2. Identify the main actors of development</li>
    <li class="item mylistcard item-text-wrap">3. What is, in your opinion, the role of Internet in Development?</li>
</ul>

<div class="card">
  <div class="item item-text-wrap">
  	<p>Send the results in pdf or doc format to:<br>
  	<strong>tangazadigitalsm@tangaza.com</strong></p>    
  </div>
</div>

  </ion-content>
</ion-view>