<ion-view view-title="Lesson 3">
  <ion-content class="padding has-header" ng-class="fontSize">

<div class="row">
  <div class="col text-right">
    <button class="button" ng-click="increase()"><i class="ion-plus-round"></i></button>
    <button class="button" ng-click="decrease()"><i class="ion-minus-round"></i></button></div>
</div>

<div class="card">
  <div class="item item-divider item-text-wrap tit_1">
    <h1 class="tit_1">Peace cultures</h1>
  </div>
  <div class="item item-text-wrap">
    <p class="intro">At the end of this lesson, you should be able to name and explain sources peace cultures. The aim of this lesson is to explore what aspects of indigenous traditions can be considered to be of value in building peace in schools/societies. </p>
  </div>
</div>

<a class="button button-large button-assertive" href="#/app/video03">
  See video
</a>

<div class="card">
  <div class="item item-divider item-text-wrap tit_3">
    Advice from elderly people
  </div>
  <p class="item item-text-wrap">
    Elders advise and supervise the younger generations. When I was young, I used to accompany my grandfather when grazing. He would counsel me on how to take care of cattle, the kind of stick to use when herding and how to tell that a cow has fed well.  This makes one strong point. It underlines the indispensable role of elders in passing on to younger generations knowledge of “how things should be done” in society. As Ba (2006) asserts, when an old person dies it is like when a library burns down (p.2).</p>
</div>

<div class="card">
  <div class="item item-divider item-text-wrap tit_3">
    Indigenous narratives
  </div>
  <p class="item item-text-wrap">
    Myths, stories, proverbs and riddles as a source of information on indigenous peace knowledge. They have entertaining and instructive values which constitute the most popular and most important form of oral literature. Apart from fulfilling the normal artist creativity and aesthetic functions, they have morals to convey to the listeners while at the same time they play important valuable education and informative roles. According to Ociti (1972), in the indigenous setting children learnt by listening to myths, legends, folk-tales, proverbs, riddles and folk songs, rhymes, and other aspects of oral literature. In the deep well of folk-lore were found moral messages, histories, wisdom and philosophy or outlook into life of each clan (p. 103). 
  </p>
</div>

<div class="card">
  <div class="item item-divider item-text-wrap tit_3">
    Indigenous symbols
  </div>
  <p class="item item-text-wrap">
    Indigenous symbols such as peace trees and sacred sites are very important in peace building. These are the last remaining symbols of the tradition that maintained peace among communities and harmony with the environment.
  </p>
</div>

<div class="card">
  <div class="item item-divider item-text-wrap dark tit_3">
    Indigenous songs, dances, and ceremonies
  </div>
  <p class="item item-text-wrap">
    Indigenous songs, the dances and the ceremonies have important peace values they unconsciously instill upon children on listening. According to Boulding’s (2000) celebrations are the play life of a society, occasions for embodying the experienced beauty of both inner and outer lifeworlds in song, dance, poetry and the creation of symbolic imagery. They are also occasions for reaffirmation of identity and social values. At their best, feasting and gift giving emphasize sharing and reciprocity, a scene of the community as one family. Celebrations are a powerful reinforcement of peaceful and caring community relations. It is a time for letting go of grudges, of reconciliation among persons whose relations have become strained (p.103). A good example is the bull fighting ceremony among the Luhya people where the entire community comes together to celebrate the winning bull.<br><br>
	
	Boulding (2000) further observes that the quality of the peace culture in any given society can be found in its art forms. The visual, the kinetic, and the audio arts are interpenetrating expressions of joys, sorrows, and spiritual intuitions of humans as they participate in the lifeworlds of the planet and beyond. Art forms that enhance the capacity of the human senses for experiencing and relating to those lifeworlds are part of the core of a society’s peace culture. Art forms that constrict the capacity to relate to those lifeworlds reflect on the other hand, a culture of violence (p. 103).
  </p>  
</div>

<div class="card">
  <div class="item item-divider item-text-wrap dark tit_3">
    Greetings
  </div>
  <p class="item item-text-wrap">
     Peace is used in everyday greetings in many cultures. To begin the day you have to greet others. It is not good to wake up early in the morning and begin to quarrel. When you greet others, you wish them peace and well-being. And they do the same in turn. Even if you want to fight in the morning, you have to suspend the fight until you have greeted the people. When you begin the day with a quarrel, you may be sure you have spoilt your whole day. This illustrates how greetings relate to peace. They help in building relationships.
  </p>  
</div>

<div class="card">
  <div class="item item-divider item-text-wrap dark tit_3">
    Sporting activities 
  </div>
  <p class="item item-text-wrap">
     Sporting activities help in promoting collaboration, cooperation, interdependence, communication skills, fair play and justice and the need to abide by rules. Sporting activities are an ignition of creative imagination which would be the motor of all future thoughts and reason. According to Boulding (2000), sporting activities allow the imagination of children to explore alternatives to everyday reality. These alternatives may be thought of as images of possible futures. A society that encourages the play of the mind encourages the exploration of other and better ways of ordering life ways (p. 105).  
  </p>  
</div>

<div class="card">
  <div class="item item-divider item-text-wrap">
    For more information refer to:
  </div>
  <p class="item item-text-wrap">
     Gachanga, Timothy. “Building Peace in schools through African Traditional Values: A Case Study of Primary Schools in Kariobangi and Korogocho, Nairobi. <span class="italic">Msingi Journal, Vol. 1, No. 1.</span> 2014.
  </p>  
</div>



  </ion-content>
</ion-view>