/*================================================================*/
/*================   Estilos fijos         =======================*/
/*================================================================*/

.mg_tx{
	width: 250px;
	height: auto;
	border-radius: 50px;
	background-color: rgba(230,230,230,.8);
	padding: 20px;
	border: black solid 3px;	
    display: inline-block;
    max-width: none;
    text-overflow: initial;
    white-space: normal;
    overflow: auto; 
    position: relative;
	text-align: left;
	font-family: 'Gochi Hand', cursive;
	font-size: 26px;
	z-index: 99;
}
.mg_tx_long{
	background-color: gray;
	width: 300px;
	height: auto;
	border-radius: 50px;
	padding: 30px;
    display: inline-block;
    max-width: none;
    text-overflow: initial;
    white-space: normal;
    overflow: auto; 
    position: relative;
	text-align: left;
	font-family: 'Gochi Hand', cursive;
	font-size: 18px;
	z-index: 99;
}
.label_gr{
	padding: 10px;
	font-family: 'Gochi Hand', cursive;
	font-size: 20px;
	z-index: 99;
}
.level1{
	position: absolute;
	font-family: 'Gochi Hand', cursive;
	font-size: 50px;
	color:#a04b4b;
}
.bocadillo{
	position: absolute;
	width: 250px;
	height: 60px;
	border-radius: 50px;
	background-color: rgba(230,230,230,.8);
	padding: 20px;
	border: black solid 3px;
	text-align: center;
	font-family: Arial;
	font-size: 30px;
	z-index: 10;
}
.number{
	position: relative;
	top:30px;
	left:-30px;
	width: 100px;
	height: 100px;
	border-radius: 50px;
	font-size: 80px;
	font-family: Arial;
	text-align: center;
	background-color: red;
	color:white;
	z-index: 100;
}
.label_tipo{
	position: relative;
	top:30px;
	left:-30px;
	width: auto;
	height: auto;
	border-radius: 20px;
	font-size: 40px;
	font-family: 'Gochi Hand', cursive;
	text-align: center;
	background-color: red;
	color:white;
	z-index: 100;

}

/*================================================================*/
/*================     Section 0        =========================*/
/*================================================================*/
 #draggable { 
	width: 150px; 
	height: 150px; 
	padding: 0.5em;
	font-family: Arial;
	font-size: 20px;
	background-color: red;
	opacity: 0.5;
	position: absolute;
	left: 100px;
	display: none;
}
.tit01{
	position: absolute;
	top: 50px;
	left: 50px;
}
.queso_portada{
	position: absolute;
	top: 25%;
	left: 30%;	
}

#walksequence{ /*Hombre andando */
	position: absolute;
	bottom: 10%;
	left:420px;
	z-index: 20;
}

#txt01{
	top:40%;
	left: 10%
}

#txt02{
	bottom:10%;
	right: 400px;
	animation: flechitas 2s linear infinite;	
	z-index: 10;
}
@keyframes flechitas {
  0% {opacity: 0;}
  100% {opacity:1;}
}
#txt03{
	position: absolute;
	top: 20%;
	left: 1200px;
	opacity: 0;
}



/*================================================================*/
/*================     Section 1         =========================*/
/*================================================================*/
#parallaxContainer {
	width: 5600px;
	height: 100%;
	top: 0px;
	position: relative;
}
#parallaxContainer .layer1 {
	background-image: url("../img/forestc.png");
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0px;

}
#parallaxContainer .layer2 {
	background-image: url("../img/forestb.png");
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0px;
}
#parallaxContainer .layer3 {
	background-image: url("../img/fondo_farm.png");
	background-position: left bottom;
	position: absolute;
	background-repeat: no-repeat;
	height: 100%;
	width: 100%;
	top: 0px;
}
#tit02{
	position: absolute;
	left:2000px;
	top:5%;
}

#molino{
	position: absolute;
	left:3200px;
	top:40%;
}
#molino_aspa{
	position: relative;
	left:-254px;
	top:-72px;
	animation: aspa 5s linear infinite;	
	transform: rotate(30deg);
    transform-origin: 50% 50%;	
	z-index: 10;
}
@keyframes aspa {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
.monster{
  position: absolute;
  width: 190px;
  height: 240px;
  margin: 2% auto; 
  background: url('../img/cows_seq.png') left center;  
  z-index: 10;
}

#cow1 { /*vaca */
  left: 2300px;
  top:50%;
  animation: playvaca1 2s steps(10) infinite;
}
@keyframes playvaca1 {
    100% { background-position: -1900px; }
}
#cow2 { /*vaca */
  left: 2800px;
  top:40%;
  animation: playvaca2 3s steps(10) infinite;
}
@keyframes playvaca2 {
    100% { background-position: -1900px; }
}

#txt04{
	position: absolute;
	top: 5%;
	left: 2900px;
	opacity: 0;
}
#farmer{
	position: absolute;
	left:3700px;
	bottom: 30%;
	z-index: 19;
}
#txt05{
	position: absolute;
	top: 30%;
	left: 3600px;
	opacity: 0;
}
/*Flecha*/
#flecha{
	position: absolute;
	bottom: 75%;
	left:3650px;
	/*width: 0px;*/
	transform: rotate(-90deg);
	overflow: hidden;
	z-index: 10;
}
#flecha_in{
	position: relative;
	margin: 5px;
	z-index: 10;
}
/*Reloj ==================================*/
#reloj{
	position: absolute;
	left: 4050px;
	top: -150px;
	z-index: 10;
}
#saeta1 {
	position: relative;
	left: 97px;
	top: -180px;
	height: 80px;
	width: 5px;
	background-color: black;
	animation: roll 5s linear infinite; /*ease, ease-in, ease-out*/
	transform: rotate(30deg);
    transform-origin: 50% 100%;	
	z-index: 10;
}
@keyframes roll {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
#saeta2 {
	position: relative;
	left: 97px;
	top: -240px;
	height: 60px;
	width: 5px;
	background-color: black;
	animation: roll2 50s linear infinite; /*ease, ease-in, ease-out*/
	transform: rotate(30deg);
    transform-origin: 50% 100%;	
	z-index: 10;
}
@keyframes roll2 {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes pendulum {
    0%, 100% { transform: rotate(-5deg); }
    10%, 90% { transform: rotate(0deg); }
    40%, 60% { transform: rotate(90deg) }
    50% { transform: rotate(95deg); }
}
/* Fin reloj ===============================*/


#txt06{
	position: absolute;
	top: 5%;
	left: 4200px;
	opacity: 0;
	z-index: 12;
}

#pan{
	position: absolute;
	left:4900px;
	top: 40%;
	z-index: 15;
	/*animation: pan 3s ease infinite;*/
}
@keyframes pan {
    0% { left: 4800px; }
    50% { left: 4900px; }
    100% { left: 4800px; }
}
#spino{
	position: absolute;
	left:4900px;
	top: 5%;
	z-index: 21;
	animation: spino 2s ease infinite;
}
@keyframes spino {
    0% { transform: rotate(0);}
    50% { transform: rotate(-90deg); }
    100% { transform: rotate(0); }
}
#piechart_3d{
	position: absolute;
	left: 5100px;
	top:50px;
	transform: rotate(-90deg);
    transform-origin: 0% 0%;	
	z-index: 10;
}

#txt07{
	position: absolute;
	top: 5%;
	left: 5800px;
	opacity: 0;
}
#mold{
	position: absolute;
	left: 6000px;
	bottom: -200px;
}
#barn2{
	position: absolute;
	left:6300px;
	top:10%;
	z-index: 0;
}
#tv2{
	position: absolute;
	top: 40px;
	left:6705px;
	opacity: 0;
	z-index: 10;
}
#video{
	position: absolute;
	top: 64px;
	left:6750px;
	z-index: 10;
}
#txt08{
	position: absolute;
	top: 5%;
	left: 6300px;
	opacity: 0;
	z-index: 10
}
#mountain{
	position: absolute;
	left:7200px;
	bottom: 0px;
	z-index: 20;
}



/*================================================================*/
/*================     Section 2         =========================*/
/*================================================================*/
#parallaxContainer2 {
	width: 5200px;
	height: 100%;
	top: 0px;
	position: relative;
}
#parallaxContainer2 .layerb1 {
	background-image: url("../img/forestc.png");
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0px;
}
#parallaxContainer2 .layerb2 {
	background-image: url("../img/forestb.png");
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0px;
}
#parallaxContainer2 .layerb3 {
	background-image: url("../img/foresta.png");
	background-position: left bottom;
	position: absolute;
	background-repeat: repeat-x;
	height: 100%;
	width: 100%;
	top: 0px;
}
#tit03{
	position: absolute;
	left:7900px;
	top:5%;
}
#txt09{
	position: absolute;
	top: 5%;
	left: 8800px;
	opacity: 0;
}
#susana{
	position: absolute;
	left:9200px;
	top:30%;
	opacity: 0;
}
#graph2{
	position: absolute;
	left: 9400px;
	top:100px;
	opacity: 0;
	z-index: 10;
}
#graph2a{
	top:100px;
	height: 30px;
	width: 0px;
	background-color: #2D8146;
	margin: 10px;
	z-index: 10;
}
#graph2b{
	top:200px;
	height: 30px;
	width: 0px;
	background-color: #2E4A73;
	margin: 10px;
	z-index: 10;
}
#graph2c{
	top:300px;
	height: 30px;
	width: 0px;
	background-color: #AE843C;
	margin: 10px;
	z-index: 10;
}
#graph2d{
	top:400px;
	height: 30px;
	width: 0px;
	background-color: #AE4C3C;
	margin: 10px;
	z-index: 10;
}
#txt10{
	position: absolute;
	top: 5%;
	left: 10000px;
	opacity: 0;
}
#doctor{
	position: absolute;
	left:10400px;
	top:30%;
	opacity: 0;
}
#txt11{
	position: absolute;
	top: 5%;
	left: 10800px;
	opacity: 0;
}
#bike{
	position: absolute;
	left:10000px;
	bottom:10%;
	opacity: 0;
	z-index: 10;
    transform-origin: 80% 80%;	
}
@supports (-webkit-appearance:none) {#bike{bottom:40%;}} 
/*@-moz-document url-prefix() {#bike {bottom:10%;}*/
#txt12{
	position: absolute;
	top: 45%;
	left: 11500px;
	opacity: 0;
	width: 130px;
}
#mountain2{
	position: absolute;
	left:12500px;
	bottom: 0px;
	z-index: 20;
}


/*================================================================*/
/*================     Section 3      =========================*/
/*================================================================*/
#parallaxContainer3 {
	width: 7680px;
	height: 100%;
	top: 0px;
	position: relative;
}
#parallaxContainer3 .layerc1 {
	background-image: url("../img/forestc.png");
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0px;
}
#parallaxContainer3 .layerc2 {
	background-image: url("../img/forestb.png");
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0px;
}
#parallaxContainer3 .layerc3 {
	background-image: url("../img/desert.png");
	background-position: left bottom;
	position: absolute;
	background-repeat: repeat-x;
	height: 100%;
	width: 100%;
	top: 0px;
}
#tit04{
	position: absolute;
	left:13100px;
	top:5%;
}
#txt13{
	position: absolute;
	top: 35%;
	left: 13600px;
	opacity: 0;
	width: 130px;
}
#queso_serpiente{
	position: absolute;
	top: 40%;
	left:14000px;
	z-index: 12;	
	opacity: 0;
}

#serpiente{
	position: absolute;
	top: 30%;
	left:14200px;
	z-index: 11;
}
#original{
	position: absolute;
	top: 5%;
	left:14300px;
	z-index: 12;	
	opacity: 0;
}
#crema{
	position: absolute;
	top: 5%;
	left:14700px;
	z-index: 12;	
	opacity: 0;
}
#rayado{
	position: absolute;
	top: 5%;
	left:15100px;
	z-index: 12;	
	opacity: 0;
}
#tit05{
	position: absolute;
	left:15700px;
	top:5%;
}
#aperitivo{
	position: absolute;
	top: -250px;
	left:15900px;
	z-index: 12;	
}
#carnequeso{
	position: absolute;
	top: -250px;
	left:16300px;
	z-index: 12;	
}
#convino{
	position: absolute;
	top: -250px;
	left:16700px;
	z-index: 12;	
}
#ensalada{
	position: absolute;
	top: -250px;
	left:17100px;
	z-index: 12;	
}
#pizza{
	position: absolute;
	top: -250px;
	left:17500px;
	z-index: 12;	
}
#sandwich{
	position: absolute;
	top: -250px;
	left:17900px;
	z-index: 12;	
}
#taco{
	position: absolute;
	top: -250px;
	left:18300px;
	z-index: 12;	
}
#txt14{
	position: absolute;
	top: 30%;
	left: 18800px;
	opacity: 0;
}
#rafa{
	position: absolute;
	top: 50%;
	left:19200px;
	z-index: 12;	
}
#txt15{
	position: absolute;
	top: 10%;
	left: 19200px;
	width: 300px;
	opacity: 0;
}
#txt16{
	position: absolute;
	top: 30%;
	left: 19700px;
	width: 300px;
	opacity: 0;
}
#shelf1{
	position: absolute;
	bottom: 0px;
	left: 20000px;
	z-index: 30;
}

/*================================================================*/
/*================     Section 4      =========================*/
/*================================================================*/
#parallaxContainer4 {
	width: 2000px;
	height: 100%;
	top: 0px;
	position: relative;
}
#parallaxContainer4 .layerd1 {
	background-image: url("../img/forestc.png");
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0px;
}
#parallaxContainer4 .layerd2 {
	background-image: url("../img/forestb.png");
	position: absolute;
	height: 100%;
	width: 100%;
	top: 200px;
}
#parallaxContainer4 .layerd3 {
	background-image: url("../img/foresta.png");
	background-position: left bottom;
	position: absolute;
	background-repeat: repeat-x;
	height: 100%;
	width: 100%;
	top: 0px;
}
#parme1{
	position: absolute;
	top: 100px;
	left: 20600px;
	cursor: pointer;
}
#parme2{
	position: absolute;
	top: 100px;
	left: 21000px;
	cursor: pointer;
}
.lavelqueso{
	position:relative; 
	top: 20px; 
	font-family: 'Gochi Hand', cursive; 
	font-size: 28px;
	text-align: center;
	background-color: green;
	color:black;
}
.lavelquesodown{
	position:relative; 
	top: 20px; 
	font-family: 'Gochi Hand', cursive; 
	font-size: 16px;
	text-align: left;
	padding: 10px;
	background-color: #DFC431;
	color:black;
}
#parme1down{
	display: none;
}
#parme2down{
	display: none;
}
#map{
	position: absolute;
	top:10%;
	left:21400px;
	background-color: #DFC431;
	padding: 10px;
}
.titmap{
	position:relative; 
	top: 0px;
	padding: 10px; 
	font-family: 'Gochi Hand', cursive; 
	font-size: 36px;
}
.titmap2{
	position:relative;  
	padding: 10px;
	font-family: 'Gochi Hand', cursive; 
	font-size: 24px;
	opacity: 0.8;
}
#txt17{
	position: absolute;
	top: 25%;
	left: 21950px;
	width: 300px;
	opacity: 0;
}
#credits{
	position: absolute;
	top: 0px;
	left: 22430px;
	width: 430px;
	height: 100%;
	opacity: .9;
	z-index: 0;
}
.crpanel{
	padding: 20px;
	font-family: Arial;
	font-size: 20px;


}






/*================================================================*/
/*================ Elementos display none  =======================*/
/*================================================================*/
#promo{
	position: absolute;
	top: 20%;
	left: 20800px;
	display: none;
	/*animation: promo 5s linear infinite;*/
}
@keyframes promo {
    0% { left: 20800px; top:200px; transform: rotate(0); }
    33% { left: 20830px; top:100px; transform: rotate(90deg);}
    66% { left: 20860px; top:100px; transform: rotate(-90deg);}
    100% { left: 20800px; top:200px; transform: rotate(0);}

}

.rasca{
	position: absolute;
	left: 20700px;
	top: 200px;
	z-index: 20;
	display: none;
}

#mg1{ /*Hola soy Marco*/
	position: absolute;
	top:20%;
	left:14500px;
	opacity: 0;	
	z-index: 10;
	display: none;
}
#mg2{ /*Pergamino*/
	position: absolute;
	top:5%;
	left:15000px;
	opacity: 1;	
	background-image: url("../img/pergamino.png");
	background-size: 400px 350px;
    background-repeat: no-repeat;
	z-index: 10;    
	display: none;
}




/*bezier*/
svg {
  max-width: 100%;
	z-index: 10;
}

.bezier {
  width: 30px;
  height: 30px;
}

.bezier svg {
	position: absolute;
  	left: 20500px;
  	top: 50px;
  	height: 30px;
  	width: 30px;
  	display: none;
}
.bezier svg > * {
  fill: #86CC01;
}
/*end bezier*/

#target_pajaro{
	position: absolute;
	left:20900px;
	top:100px;
	z-index: 10;
	display: none;
}

/*Red graph*/
#propiedades{
	position: absolute;
	bottom: 56%;
	left:18000px;	
	padding-left: 20px;
	font-family: Arial;
	font-size: 55px;
	opacity: 0;
	z-index: 10;
	display: none;
}
#propiedades .items{
	color: black;
	font-size: 30px;
	line-height: 1.6;
}
#graph{
	position: absolute;
	bottom: 55%;
	left:18000px;
	overflow: hidden;
	opacity: .8;
	z-index: 10;
	display: none;
}
/*end Red graph*/







#casa{
	position: absolute;
	top: 40%;
	left:13500px;
	z-index: 20;
	display: none;
}
#pop1{
	position: absolute;
	top: 400px;
	left: 14500px;
	opacity: 0;
	z-index: 22;
	display: none;
}
.bocadillo{
	width: 250px;
	height: 60px;
	border-radius: 50px;
	background-color: rgba(230,230,230,.8);
	padding: 20px;
	border: black solid 3px;
	text-align: center;
	font-family: Arial;
	font-size: 30px;
	z-index: 10;
}

#muneco{
	position: absolute;
	top: 50%;
	left:12500px;
	z-index: 10;
	display: none;	
}
#coche{
	position: absolute;
	bottom: 10%;
	left:14500px;
	z-index: 10;
	display: none;	
}
#plane{
	position: absolute;
	bottom: 30%;
	left:15000px;
	overflow: hidden;
	z-index: 10;
	display: none;
}


.boxg{
	opacity: 0;
	z-index: 10;
}
#Layer_1{
	position: relative;
	left:-175px;
}
/*Saludo*/
.box_saludo{
	position: absolute;
	left:16300px;
	width: 700px;
	height: 70px;
	/*border: red solid 1px; /*Activa para ver fundionamiento del saludo*/
	top: 40%;
	overflow: hidden;
	display: none;
}
#saludo{
	position: relative;
	left: -340px;
	width: 340px;
	height: 100px;
	z-index: 10;
}
.texto_saludo {
	position: relative;
	background-color: rgba(200,200,200,.7);
	border: black solid 3px;
	text-align: center;
	font-family: Georgia;
	font-size:30px;
	padding: 20px;
	border-radius: 20px;
}

/*Conejo*/
#imagesequence{
	position: absolute;
	bottom: 10%;
	left:13550px;
	z-index: 19;
	display: none;

}


#parallaxText {
	width: 0;
	height: 100%;
	margin: auto;
	position: relative;
}

#parallaxText .layer1, #parallaxText .layer2, #parallaxText .layer3 {
	position: absolute;
	font-size: 50px;
	line-height: 50px;
	margin-left: -150px;
	margin-top: -25px;
	width: 300px;
	top: 50%;
	left: 50%;
	text-align: center;
	color: #133f71;
}
#parallaxText .layer1 {
	top: 48%;
}
#parallaxText .layer2 {
	top: 49%;
}
#parallaxText .layer3 a {
	display: block;
	font-family: "Source Sans Pro", Arial, sans-serif;
	font-style: normal;
	font-weight: normal;
}
#parallax1 > div, #parallax2 > div, #parallax3 > div {
	-webkit-transform: translateZ(0);-webkit-backface-visibility: hidden;-webkit-perspective: 1000;
}