#parallaxContainer {
	width: 10000px;
	height: 100%;
	top: 0px;
	position: relative;
}
#parallaxContainer .layer1 {
	background-image: url("../img/forestc.png");
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0px;

}
#parallaxContainer .layer2 {
	background-image: url("../img/forestb.png");
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0px;
}
#parallaxContainer .layer3 {
	background-image: url("../img/forestas.png");
	background-position: bottom;
	background-repeat: repeat-x;
	position: absolute;
	height: 100%;
	width: 100%;
}

 #draggable { 
	width: 150px; 
	height: 150px; 
	padding: 0.5em;
	font-family: Arial;
	font-size: 20px;
	background-color: red;
	opacity: 0.5;
	position: absolute;
	left: 100px;
}

/*================================================================*/
/*================   Estilos fijos         =======================*/
/*================================================================*/
.mg_tx{
	width: 250px;
	height: auto;
	border-radius: 50px;
	background-color: rgba(230,230,230,.8);
	padding: 20px;
	border: black solid 3px;	
    display: inline-block;
    max-width: none;
    text-overflow: initial;
    white-space: normal;
    overflow: auto; 
    position: relative;
	text-align: left;
	font-family: 'Gochi Hand', cursive;
	font-size: 26px;
	z-index: 99;
}
/*================================================================*/
/*================     Elementos         =========================*/
/*================================================================*/
#walksequence{ /*Hombre andando */
	position: absolute;
	bottom: 10%;
	left:550px;
	z-index: 20;
}

#mg1{ /*Hola soy Marco*/
	position: absolute;
	top:20%;
	left:1000px;
	opacity: 0;	
}
/*Flecha*/
#flecha{
	position: absolute;
	bottom: 75%;
	left:2500px;
	width: 0px;
	overflow: hidden;
}
#flecha_in{
	position: relative;
	margin: 5px;
}
/*Reloj ==================================*/
#clock {
	position: absolute;
	left: 2902px;
	top: 80px;
}
#saeta1 {
	position: absolute;
	left: 3000px;
	top: 100px;
	height: 80px;
	width: 5px;
	background-color: black;
	animation: roll 5s linear infinite; /*ease, ease-in, ease-out*/
	transform: rotate(30deg);
    transform-origin: 50% 100%;	
}
@keyframes roll {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
#saeta2 {
	position: absolute;
	left: 3000px;
	top: 120px;
	height: 60px;
	width: 5px;
	background-color: black;
	animation: roll2 50s linear infinite; /*ease, ease-in, ease-out*/
	transform: rotate(30deg);
    transform-origin: 50% 100%;	
}
@keyframes roll2 {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes pendulum {
    0%, 100% { transform: rotate(-5deg); }
    10%, 90% { transform: rotate(0deg); }
    40%, 60% { transform: rotate(90deg) }
    50% { transform: rotate(95deg); }
}

/* Fin reloj ===============================*/
#casa{
	position: absolute;
	top: 40%;
	left:3500px;
	z-index: 20;
}
#pop1{
	position: absolute;
	top: 400px;
	left: 4500px;
	opacity: 0;
	z-index: 22;
}
.bocadillo{
	width: 250px;
	height: 60px;
	border-radius: 50px;
	background-color: rgba(230,230,230,.8);
	padding: 20px;
	border: black solid 3px;
	text-align: center;
	font-family: Arial;
	font-size: 30px;
}


#muneco{
	position: absolute;
	top: 50%;
	left:2000px;
}
#coche{
	position: absolute;
	bottom: 10%;
	left:8500px;
}
#plane{
	position: absolute;
	bottom: 30%;
	left:8000px;
	overflow: hidden;
}
#writing{
	position: absolute;
	bottom: 30%;
	left:8500px;
}
#propiedades{
	position: absolute;
	bottom: 56%;
	left:8000px;	
	padding-left: 20px;
	font-family: Arial;
	font-size: 55px;
	opacity: 0;
}
#propiedades .items{
	color: black;
	font-size: 30px;
	line-height: 1.6;
}
#graph{
	position: absolute;
	bottom: 55%;
	left:8000px;
	overflow: hidden;
	opacity: .8;
}
.boxg{
	opacity: 0;
}
#Layer_1{
	position: relative;
	left:-175px;
}

/*Saludo*/
.box_saludo{
	position: absolute;
	left:2300px;
	width: 700px;
	height: 70px;
	/*border: red solid 1px; /*Activa para ver fundionamiento del saludo*/
	top: 40%;
	overflow: hidden;
}
#saludo{
	position: relative;
	left: -340px;
	width: 340px;
	height: 100px;

}
.texto_saludo {
	position: relative;
	background-color: rgba(200,200,200,.7);
	border: black solid 3px;
	text-align: center;
	font-family: Georgia;
	font-size:30px;
	padding: 20px;
	border-radius: 20px;
}
/*Conejo*/
#imagesequence{
	position: absolute;
	bottom: 10%;
	left:3550px;
	z-index: 19;
}


#parallaxText {
	width: 0;
	height: 100%;
	margin: auto;
	position: relative;
}

#parallaxText .layer1, #parallaxText .layer2, #parallaxText .layer3 {
	position: absolute;
	font-size: 50px;
	line-height: 50px;
	margin-left: -150px;
	margin-top: -25px;
	width: 300px;
	top: 50%;
	left: 50%;
	text-align: center;
	color: #133f71;
}
#parallaxText .layer1 {
	top: 48%;
}
#parallaxText .layer2 {
	top: 49%;
}
#parallaxText .layer3 a {
	display: block;
	font-family: "Source Sans Pro", Arial, sans-serif;
	font-style: normal;
	font-weight: normal;
}
#parallax1 > div, #parallax2 > div, #parallax3 > div {
	-webkit-transform: translateZ(0);-webkit-backface-visibility: hidden;-webkit-perspective: 1000;
}